@import '../fonts/Fonts.css';
/*
@font-face {
    font-family: 'Riffic Free Bold';
    src: url("/fonts/Roboto/Roboto-Black.ttf");
}
*/


*{
    /*-fx-font-family: 'Visby Round CF Heavy';*/

    -mfx-charcoal: #445055;
    -mfx-onyx: #353935;
    -mfx-orange: #ff9800;

    -mfx-yellow: #FFEA00;
    -mfx-text-he: rgba(0, 0, 0, 0.87); /* High Emphasis */
    -mfx-text-me: rgba(0, 0, 0, 0.60); /* Medium Emphasis*/
    -mfx-text-disabled: rgba(0, 0, 0, 0.38); /* Disabled */

}

.rootPane{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #ebebeb;
    -fx-border-radius: 10;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #30404d;
}
.tree-view {
    -fx-background-color: #293742;
}
.tree-cell:selected {
    -fx-background-color: #86929b;
}



.text-input {
    -fx-text-fill: #ffffe6;
    -fx-highlight-fill: #ffffe6;
    -fx-highlight-text-fill: #ffffe6;
   /* -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; !* 4 7 4 7 *!*/
}

.text-input:focused {
    -fx-text-inner-color: #ffffe6;
    /*-fx-highlight-fill: -fx-accent;*/
    -fx-highlight-text-fill: white;
   /* -fx-background-color:
            -fx-focus-color,
            -fx-control-inner-background,
            -fx-faint-focus-color,
            linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;*/

}





.combo-box .list-cell
{
    -fx-background: #3c4e5c;
    -fx-background-color: transparent;
    -fx-text-fill: #afb8be;
    -fx-padding: 3 0 2 7;
    /*-fx-cell-size: 1.66667em;*/
}

.combo-box-popup .list-view
{
    -fx-background-color: #3c4e5c, #3c4e5c;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #30404d;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: red;
    -fx-background-color: #3c4e5c;
    -fx-text-fill: #afb8be;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #3e4f5d;
    -fx-text-fill: yellow;
}

.combo-box-base
{
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";*/
    -fx-background-color: #3e4f5d, #3e4f5d, #3e4f5d, #3e4f5d;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: #2279a8;
}

.combo-box-base:showing
{
    -fx-color: #3e4f5d;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}






.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #293742;

}

.tab-pane .tab:selected
{
    -fx-background-color: #25455b;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #9fa6ab;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #30678b;
}


.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}
/*
.tab-pane {
    -fx-tab-min-height: 32px;
    -fx-tab-max-height: 32px;
    -fx-tab-min-width: 100px;
    -fx-tab-max-width: 100px;
}

.tab-pane .tab-header-area .tab {
    -fx-background-color: #2b2b2b;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-padding: 0.166667em 0.666667em 0.166667em 0.666667em; !* 2 8 2 8 *!
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #3c3c3c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-padding: 0.166667em 0.666667em 0.166667em 0.666667em; !* 2 8 2 8 *!
    -fx-text-fill: white;
}*/





/* General rules for EverestCodeArea */

.everest-code-area {
    -fx-font-family: "Comfortaa Medium" ,"Roboto Bold", monospace;
    -fx-background-color: #25323b;
    -fx-background-radius: 20;
}

.everest-code-area .text {
    -fx-fill: #ababab;
    -fx-font-family: "Comfortaa Medium", monospace;
    -fx-font-size: 12px;
}

.everest-code-area .caret {
    -fx-stroke: white;
}

.plain-text {
    -fx-fill: azure !important;
}

/* Common to JSON and XML */

.xml_bracket,
.json_curly {
    -fx-fill: coral !important;
}

.xml_tag,
.json_property {
    -fx-fill: orange !important;
    -fx-font-weight: bold;
}

.xml_attribute_value,
.json_value {
    -fx-fill: cornflowerblue !important;
}

/* JSON-specific */

.json_array {
    -fx-fill: limegreen !important;
}

.json_bool {
    -fx-fill: crimson !important;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: greenyellow !important;
    -fx-font-weight: bold;
}

/* XML-specific */

.xml_attribute {
    -fx-fill: darkviolet !important;
}

.xml_comment {
    -fx-fill: teal !important;
}









.tree-view, .tree-cell {
    -fx-background-color: #25323b ;
    -fx-text-fill: white ;
}
.tree-cell:expanded {
    -fx-background-color: #404040 ;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
/*
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}
*/


.tree-cell:filled:selected:focused, .tree-cell:filled:selected {
    -fx-background-color: #666666;
}

.tree-cell:filled:hover {
    -fx-background-color: #555555;
}
/*


!* Define CSS rules for the TreeView *!
.tree-view {
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-background-color: #30404d;
}

!* Define CSS rules for the TreeCell *!
.tree-cell {
    -fx-padding: 2px 5px;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-border-color: transparent;
}

.tree-disclosure-node {
    -fx-background-color: white;
}
!* Define CSS rules for the selected TreeCell *!
.tree-cell:selected {
    -fx-background-color: lightblue;
}

!* Define CSS rules for the focused TreeCell *!
.tree-cell:focused {
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-background-color: #30404d;
}

*/








/* Set the base Metro theme styles for the accordion */
.accordion {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}

/* Set the title pane background color and padding */
.accordion .titled-pane {
    -fx-background-color: #afb8be;
    -fx-padding: 1px;
    -fx-text-fill: white;
}

/* Set the title label color and font size */
.accordion .titled-pane .title {
    -fx-text-fill: white;
    -fx-font-size: 9pt;
    -fx-background-color: #394b59;
}

/* Set the title pane border style */
.accordion .titled-pane > .title {
    -fx-border-color: #282828;
    -fx-border-width: 1px;

    -fx-border-radius: 0px;
    -fx-background-insets: 0px;
}

.accordion > .titled-pane > .title > .arrow-button {
    -fx-background-color: transparent;

    -fx-padding: 9px;
}
.accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: white;
    /*-fx-graphic: url("../images/folder@24px.png");*/
    /*-fx-shape: "M 0 0 L 6 6 L 0 12 Z";*/
}
.accordion .titled-pane > .title > .arrow {
    -fx-background-color: white;
    -fx-padding: 0 10px;
}
.accordion > .titled-pane > .content {
    /*-fx-background-color: #202b33;;*/
    -fx-padding: 0px;
}










.list-view .list-cell:filled:selected {
    -fx-background-color: #3c4e5c;
    -fx-text-fill: white;
}

.list-view .list-cell:hover {
    -fx-background-color: #afb8be;
    -fx-text-fill: #333;
}

/*.accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-padding: 0px 10px;
}*/




/*
.accordion {
    -fx-border-color: #30404d;;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #ffffff;
}

.accordion > .titled-pane > .title {
    -fx-background-color: #202b33;;
    -fx-text-fill: #ffffff;
}




.accordion > .titled-pane:focused > .title {
    -fx-background-color: #0078d7;
    -fx-text-fill: #ffffff;
}

.accordion > .titled-pane:focused > .content {
    -fx-background-color: #eaeaea;
}*/

/*
.accordion > .titled-pane > .title > .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #ffffff;
    -fx-shape: "M 0 0 L 6 6 L 0 12 Z";
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}
*/




/* Set the base Metro theme styles for the ListView */
/*
.list-view {
    -fx-background-color: #202b33;
    -fx-control-inner-background: #222e36;
    -fx-padding: 10px;
    -fx-font-size: 8pt;
}
*/

/* Set the style for the ListView items */
/*.list-view .list-cell {

    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-text-fill: white;
}*/



/* Set the style for the selected ListView items */
/**/

/* Set the style for the hover state of the ListView items */
/**/

/* Set the style for the selected and hover states of the ListView items */
/*.list-view .list-cell:filled:selected:hover {
    -fx-background-color: #c1cbd0;
    -fx-text-fill: white;
}*/

/**************************************************
 * Progress Bars
**************************************************/
#customBar1 .bar1 {
    -fx-fill: linear-gradient(to right bottom, #c4008b, #d00085, #dc007f, #e60b79, #ef1872, #f5276b, #fa3564, #fe415e, #ff5158, #ff5f52, #ff6c4e, #ff794b);
}

#customBar1 .bar2 {
    -fx-fill: linear-gradient(to right bottom, #1ec400, #00bd3a, #00b654, #00ae67, #00a574, #00a280, #009e8a, #009a91, #009b9d, #009ba8, #009bb2, #009abb);
}

#customBar2 .track {
    -fx-fill: #7a0ed9;
    -fx-stroke: #7a0ed9;
    -fx-stroke-width: 2;
}

#customBar2 .bar1,
#customBar2 .bar2 {
    -fx-stroke: #7a0ed9;
    -fx-stroke-width: 1;
    -fx-fill: white;
}


#determinateBar:range1 .bar1 {
    -fx-fill: #EF6E6B;
}

#determinateBar:range1 .track {
    -fx-fill: derive(#EF6E6B, 85%)
}

#determinateBar:range2 .bar1 {
    -fx-fill: #2196f3;
}

#determinateBar:range2 .track {
    -fx-fill: derive(#2196f3, 85%)
}

#determinateBar:range3 .bar1 {
    -fx-fill:  #4caf50;
}

#determinateBar:range3 .track {
    -fx-fill: derive( #4caf50, 85%);
}

